@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ebd6fb; 
    border-radius: 3px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3B0764; 
  }

  html, body, div, span{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
  }
